/* Navigation */
/* Cleans up and centers navigation at the top of the page */
.navigation {
    display: flex;
    justify-content: center;
}

.navigation ul {
    display: flex;
    gap: 15px;
}

.navigation ul li {
    list-style: none;
}