/* Whole Page Style */
body {
    margin: 0 2.5%;
}

/* Navigation */
/* Cleans up and centers navigation at the top of the page */
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation ul {
    display: flex;
    gap: 15px;
}

.navigation ul li {
    list-style: none;
}

#homeButton {
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
}

/* Hero */
.heroContainer {
    display: flex;
}